.new{
	background: linear-gradient(red,blue);
	color: white;
	width: 220px;
	border: 4px solid black;
	padding: 10px;
	border-radius: 19px;
	}

.img{
	background: url(https://storage.googleapis.com/api4ai-static/rapidapi/tutorial_cbr_change_background/cbc3.jpg);
	width: 220px;
	border: 3px solid darkred;
	padding: 10px;
	border-radius: 15px;
	}
.img:hover{
	background: linear-gradient(orange,purple);
	color: white;
	padding: 10px;
}
